{% from 'cockroachdb/map.jinja' import config with context %}

[Unit]
Description=CockroachDB
Documentation=https://www.cockroachlabs.com/docs/

[Service]
User={{ config.user }}
ExecStart={{ config.home_dir }}/cockroach start --insecure \
            --store=path={{ config.home_dir }}/cockroach-data \
            --log-dir={{ config.home_dir }}/logs
ExecStartPost={{ config.home_dir }}/initdb.sh
Restart=always
RestartSec=10
TimeoutSec=10

[Install]
WantedBy=multi-user.target
