{% set ipv4_addrs = {'private':'127.0.0.1', 'public':'127.0.0.1'} -%}
{% for ipv4_addr in salt['grains.get']('ipv4', '127.0.0.1') if not salt['network.is_loopback'](ipv4_addr) -%}
  {% if salt['network.is_private'](ipv4_addr) %}
    {% do ipv4_addrs.update({'private': ipv4_addr}) %}
  {% elif not salt['network.is_private'](ipv4_addr) %}
    {% do ipv4_addrs.update({'public': ipv4_addr}) %}
  {% endif %}
{% endfor -%}
cockroachdb:
  initdb:
    user: maxroach
    database: maxroachdb

    sql:
      script: salt://cockroachdb/files/initdb.sql

      # Set 'keep' to true to keep the user-provided SQL script after the first start-up.
      # If this script shouldn't be re-executed on restart, set 'keep' to false to delete it from the minion's filesystem after the first start-up.
      keep: false

  runtime_options:
    - --insecure=true
    - --host={{ ipv4_addrs['private'] }}
    - --port=26300
    - --http-host={{ ipv4_addrs['public'] }}
    - --http-port=7070
    - --store=path=/etc/cockroachdb/data
    - --log-dir=/var/log/cockroachdb
