cockroachdb:
  initdb:
    dbuser: devroach
    database: devroach_sandbox

    # Set keep_initdb_sql to true to keep the user-provided scripts/initdb.sql script after the first start-up.
    # If this script shouldn't be re-executed on restart, set keep_initdb_sql to false to delete it from the minion
    # filesystem after the first start-up.
    keep_initdb_sql: false
